#container {
  display: block;
  margin: 25px 20px 25px 110px;
  padding: 15px;
  border: 2px solid #dadde1;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
}
h1 {
  color: #112cb0;
  text-align: center;
}
h2 {
  color: #70757a;
  font-size: 20px;
  padding-left: 40px;
}

form {
  display: block;
  margin: 15px auto;
  padding: 5px;
  text-align: center;
}
#current {
  background: #94b0b7;
  color: beige;
}
#go {
  background: #4a707a;
  color: beige;
}

#number {
  font-size: 50px;
  color: #70757a;
  text-align: center;
}
#units {
  font-size: 16px;
  position: relative;
  top: -25px;
}
#stats {
  font-size: 20px;
  color: #70757a;
}
ul {
  list-style: none;
}
#link {
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
}
