#container {
  max-width: 800px;
  display: block;
  margin: 30px auto;
  padding: 30px;
  border: 2px solid #dadde1;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #878787;
  text-align: center;
}
h2 {
  color: #70757a;
  font-size: 20px;
  padding-left: 40px;
}

form {
  display: block;
  margin: 15px auto;
  padding: 5px;
  font-size: 20px;
}

.col-3 {
  display: block;
  margin-left: 0px;
  padding-left: 0px;
}

#number {
  font-size: 50px;
  color: #70757a;
  text-align: center;
}
.units {
  font-size: 16px;
  position: relative;
  top: -25px;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.active.hover {
  text-decoration: none;
}

#stats {
  font-size: 15px;
  color: #70757a;
}

#condition {
  text-transform: capitalize;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#link {
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.waether-forecast-date {
  font-size: 16px;
  color: 000000;
  opacity: 0.6;
}

.max {
  font-size: 13px;
  color: black;
}
.min {
  opacity: 0.5;
  font-size: 13px;
}
